.header__lang-link {
  width: 22px;
  height: 20px;
  font-size: 18px;
  line-height: 1.11;
  padding: 14px 0 8px 18px;
  text-decoration: none;
  color: inherit;
  transition: opacity .3s ease-in-out;
}

.header__lang-link:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (min-width: 750px) {
  .header__lang-link {
    width: 30px;
    height: 28px;
    font-size: 24px;
    line-height: 1.17;
    padding: 18px 0 6px 18px;
  }
}
