
.lead {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
  font-family: "Inter", Arial, sans-serif;
  background-color: #2a2c2f;
  color: #fff;
}

@media (min-width: 950px) {
  .lead {
    width: calc(100% - 96px);
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .lead {
    padding-top: 56px;
    width: calc(100% - 296px);
  }
}
